.h1 {
    text-decoration: bold;
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: "Roboto";
}

.p {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: "Roboto";
}

.h3 {
    text-align: left;
    color: white;
    font-size: 25px;
    font-family: "Roboto";
}

.p1 {
    color: white;
    font-size: 18px;
    text-align: left;
    padding-left: 5px;
    font-family: "Roboto";
}

.button {
    background-color: orange;
    color: white;
    position: absolute;
    top: 300px;
    left: 220px;
    height: 30px;
    width: 70px;
    font-family: "Roboto";

}

.container {
    background-image: url(" https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    background-size: cover;
    height: 100vh;
    text-align: center;
    font-family: "Roboto";
}

.p2 {
    text-align: center;
    text-decoration: underline;
    color: white;
    position: absolute;
    top: 330px;
    left: 180px;
    font-family: "Roboto";
}
